body {
    font-family: "Poppins";
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;   
}

img {
    padding: 0;
}

header {
    max-width: 1126px;
    width: 100%;
    min-height: 496px;
    margin-bottom: 50px;
}

nav {
    max-width: 1400px;
    width: 100%;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


ul {
    list-style: none;
    display: flex;
    max-width: 350px;
    width: 100%;
    margin-top: 24px;
    justify-content: space-around;
}

li {
    list-style: none;
}

li > a {
    color: #2F281E;
    font-size: 14px;
    line-height: 28px;
}

.btn-1 {
    width: 102px;
    height: 46px;
    margin-right: 20px;
    margin-top: 15px;
    background-color: #FFFFFF;
    color: #173A56;
    font-size: 16px;
    font-style: bold;
    border-radius: 4px;
    border-color: #BCD0E5;

}

.btn-2 {
    width: 102px;
    height: 46px;
    background-color: #FF9900;
    color: #FFFFFF;
    font-size: 16px;
    font-style: bold;
    border-radius: 4px;
    border: none;
} 

.btn-start {
    width: 175px;
    height: 53px;
    background-color: #FF9900;
    color: #FFFFFF;
    font-size: 16px;
    font-style: bold;
    border-radius: 4px;
    border: none;
    margin-right: 30px;
}

.btn-vid {
    width: 175px;
    height: 53px;
    margin-right: 20px;
    margin-top: 15px;
    background-color: #FFFFFF;
    color: #173A56;
    font-size: 16px;
    font-style: bold;
    border-radius: 4px;
    border-color: #BCD0E5;
}

.header.info {
    display: flex;
}

.main-title {
    max-width: 518px;
    width: 100%;
    min-height: 108px;
    font-size: 44px;
    font-style: bold;

}

.main-info {
    width: 458px;
    height: 95px;
    font-size: 18px;
}

.header-img {
    height: 543px;
    position: absolute;
    top: 128px;
    left: 1000px;
    z-index: -1;
}

.feature-title {
    max-width: 539px;
    text-align: center;
    margin-bottom: 54px;
}

.feature-container {
    max-width: 1095px;
    width: 100%;
    min-height: 20;
    display: flex;
    margin-bottom: 34px;
}

.btn-sign {
    background-color: #FF9900;
    color: #FFFFFF;
    border: none;
    width: 175px;
    height: 53px;
    border-radius: 4px;
    margin-bottom: 210px;
}

.validation-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 103px;
    
}


.validation-text {
    max-width: 486px;
    width: 100%;
    min-height: 531px;
    margin-right: 70px;
}

.marketers-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 103px;
    
}

.marketers-text {
    max-width: 486px;
    width: 100%;
    min-height: 609px;
    margin-left: 70px;
}

.production-container {
    max-width: 1121px;
    width: 100%;
    min-height: 521px;
    display: flex;
    margin-bottom: 100px;
}

.production-text {
    max-width: 486px;
    width: 100%;
    min-height: 427px;
    margin: 30px;
    margin-left: 70px;

}

.icon-text {
    margin-bottom: 30px;
    
}

.footer{
    display: flex;
    justify-content: space-between;
    max-width: 1109px;
    width: 100%;
    min-height: 308px;
    margin: 100px;
}

.footer-btn {
    display: flex;
    max-width: 325px;
    width: 100%;
    min-height: 199px;
    flex-direction: column;
    

}

.white-btn {
    width: 325px;
    height: 48px;
    border-radius: 4px;
    border-color: #BCD0E5;
    background-color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 21px;
}

.orange-btn {
    width: 131px;
    height: 39px;
    color: #FFFFFF;
    background-color: #FF9900;
    border-radius: 4px;
    border: none;
    font-size: 16px;
}